


<center><h1 class="display-4"> User Pannel  </h1></center>
<div class="m-3 p-4">

    <button>

        <a class="m-3 p-4" asp-controller="User" asp-action="Available_Books">Available Books</a>
    </button>
   
    <button>
        <a class="m-3 p-4" asp-controller="User" asp-action="My_Books">My Books</a>
    </button>
   

</div>

