@model Admin
		<div class="limiter ">
	<div class="container mx-auto  " style="background-image: url('c:\Users\ACER\OneDrive\Desktop\comed.jpg');
">
				<div class=" p-t-30 p-b-50">
			<div class="text-center" style="color:black">
				<span	 class="fs-1 login100-form-title p-b-1 ">Library Management System</span>
				<center><h7 class="  p-b-49">Building Community,Inspiring readers,Expanding Book access !</h7></center>
			</div>
			<span class="text-center p-b-20 p-t-46">
						Admin Login
					</span>
			<form method="post" asp-controller="Home" asp-action="Admin_Login" class=" p-b-33 p-t-5">
				@{
					if(ViewBag.LoginStatus!=null)
					{
						if (ViewBag.LoginStatus == 0)
						{
							<div class=" alert alert-danger">Invalid Details !!</div>

						}
					}}
					<div class="mx-auto " >
					<input type="text" placeholder="Username" asp-for="Username" autocomplete="off">
							
						</div>

				<div class=" mx-auto">
					<input type="password" asp-for="Password" placeholder="Password" >
							
						</div>
				<p class="text-center small mt-3 mb-4 text-muted"><span class="fw-bold"><a  class="text-muted " asp-controller="Home" asp-action="User_Login_Page">Login as User</a> / <a  class="text-muted">Forgot Password</a>?</span></p>
						<div class="container-login100-form-btn m-t-32">
					<button  class="login100-form-btn mx-auto">
								Login
						@*asp-controller="Home" asp-action="Button"*@
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
