<link href="~/css/User.css" rel="stylesheet" />
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

	<div class="text-center" style="color:black"  >
   @* <img src="~/Images/Li.png" />*@
	<h class="fs-1 login100-form-title p-b-4 ">Welcome To</h>

		<h1 class="fs-1 login100-form-title p-b-4 ">Library Management System</h1>
		<center><h7 class="  p-b-49">Building Community,Inspiring readers,Expanding Book access !</h7></center>
		<center> <button class="btn btn-primary p-t-10"> Read more..</button></center>
	</div>

