@{
    Layout = "_Layout";
}
<link href="~/css/index.css" rel="stylesheet" />


    <div class="container">
    <div class="main">
        <h1>Welcome to the Library Management System</h1>
        <p>Manage your library collections with ease.</p>
        <a asp-controller="Home" asp-action="Login" class="btn">Get Started..</a>
    </div>
</div>