
@model User
<link href="~/css/User.css" rel="stylesheet" />
<div class="row" style="margin-left:-91px">
	<div class="col-md-6 mx-auto p-0">
		<div class="card">
			<div class="login-box">
				<div class="login-snip">
					<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">User Login</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
					<div class="login-space">
						<form method="post" asp-controller="Home" asp-action="User_Login_Page" class="login">
							<div class="group">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input" placeholder="Enter your username" asp-for="Username" autocomplete="off">
								<span asp-validation-for="Username" class="text-danger"></span>
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" asp-for="Password">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="group">
								<input id="check" type="checkbox" class="check" checked>
								<label for="check"><span class="icon"></span> Keep me Signed in</label>
							</div>
							<div class="group">
								<button class="button">Sign In</</button>
							</div>
							<div class="hr"></div>
							<div class="foot">
							<p class="text-center small mt-3 mb-4 text-muted"><span class="fw-bold"><a class="text-muted " asp-controller="Home" asp-action="Login">Login as Admin</a> / <a class="text-muted">Forgot Password</a>?</span></p>
							</div>
						</form>
						<form method="post" class="sign-up-form">
							<div class="group">
								<label for="user" class="label">Username</label>

								<input id="user" type="text" class="input" placeholder="Enter your username"  autocomplete="off">

								<span  class="text-danger"></span>
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" asp-for="Password">
								<span  class="text-danger"></span>
							</div>
							<div class="group">
								<input id="check" type="checkbox" class="check" checked>
								<label for="check"><span class="icon"></span> Keep me Signed in</label>
							</div>
							<div class="group">
								<button class="button">Sign In</</button>
							</div>
							<div class="hr"></div>
							<div class="foot">
								<label for="tab-1">Forgot Password?</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


