@using Library_Management_System.DTO;

@model UserDto

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add User</h2>
            <hr />
        </div>

        <div class="row mb-3">

            <div class=" col mb-3">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class=" col mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
        </div>
        <div class="row mb-3">

            <div class="col mb-3">

                <label asp-for="StudentName"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>

            </div>
            <div class="col mb-3">

                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
            <div class="col mb-3">

                <label asp-for="Faculty"></label>
                <input asp-for="Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>

            </div>

        </div>
        <button class=" btn btn-primary " type="submit" style="width:150px">Add User</button>
        <a asp-controller="Admin" asp-action="Manage_User" class=" btn btn-secondary " style="width:150px">Back</a>
    </div>
</form>


