@{
    Layout = "Layout1";
}
@model Student
<form method="post" asp-controller="Admin" asp-action="DeleteBook">
    <input asp-for="StudentId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Student</h2>
            <hr />
        </div>

        <div class=" row mb-3">
            <div class=" col mb-3">
                <label asp-for="StudentId"></label>
                <input disabled asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class=" col mb-3">
                <label asp-for="StudentName"></label>
                <input disabled asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>

            </div>
        </div>
        <div class=" row mb-3">
            <div class=" col mb-3">
                <label asp-for="Address"></label>
                <input disabled asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
            <div class=" col mb-3">
                <label>Faculty</label>
                <input disabled asp-for=" Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>

            </div>
        </div>
       
        <button class=" btn btn-danger " type="submit" style="width:150px">Delete</button>
        <a asp-controller="Admin" asp-action="Manage_Students" class=" btn btn-secondary " style="width:150px">Back</a>
    </div>
</form>

