@{
    Layout = "Layout1";
}
@using Library_Management_System.Models

@model Library_Management_System.DTO.IssueBookDto
<link href="~/css/BoostrapTheme.css" rel="stylesheet" />

<form method="post" asp-action="Issue_Book" asp-controller="Admin">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Issue Book</h2>
            <hr />
        </div>
     <div class=" row mb-3">
           
         <div class="col">
            <label asp-for="BookId"></label>
                <input type="number" asp-for="BookId" class="form-control rounded-4" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
       
        <div class=" col mb-3">
            <label asp-for="StudentId"></label>
                <input type="number" asp-for="StudentId" class="form-control rounded-4" />
                <span asp-validation-for="StudentId" class="text-danger"></span>

        </div>
          
        </div>
       
            <button class=" btn btn-primary " type="submit" style="width:150px">Issue</button>
            <a asp-controller="Home" asp-action="Button" class=" btn btn-secondary " style="width:150px">Back</a>
       
    </div>
</form>


