@inject SignInManager<IdentityUser> sigInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library_Management_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href=" https: //cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
   
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

    <link href="~/css/layout.css" rel="stylesheet" />
   
</head>
<body>
    <header>
 
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Indexx">
                    <img id="MDB-logo"
                         src="https://cdn4.iconfinder.com/data/icons/knowledge-8/64/book-knowledge-library-reading-education-512.png" alt="MDB Logo"
                         draggable="false" height="60" />
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent  ">
                    <!-- Left links -->
                    <ul class="navbar-nav flex-grow-1 me-3">
                        <li class="nav-item">
                            <a class="nav-link active d-flex align-items-center" aria-current="page" asp-controller="Home" asp-action="Indexx">
                                <i class="fas fa-bars pe-2"></i>Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex align-items-center" aria-current="page" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-bars pe-2"></i>Privacy
                            </a>
                        </li>
                    </ul>
                    <!-- Left links -->

                   

                    <ul class="navbar-nav ms-3 mr-auto">
                      @*  @if (sigInManager.IsSignedIn(User))
                        {
                            <li class="nav-item " style="width: 65px;">
                                <form method="post" asp-controller="Home" asp-action="LogOut">
                                    <button type="submit">Log Out @User.Identity.Name</button>
                                </form>
                              <a class="nav-link text-dark" asp-controller="Home" asp-action="LogOut">LogOut</a>
                            </li>
                        }*@
                        <li class="nav-item" style="width: 65px">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container text-center " style="color:white ; font-size: 18px;">
            &copy; 2023 - Library_Management_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

   



    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
